<h1>New link</h1>

<%= form_for @link do |f| %><br>
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control", :autofocus => true %><br>

  <%= f.label :url %>
  <%= f.text_field :url, class: "form-control" %><br>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %><br>

  <%= f.submit "Create Link", class: "btn btn-primary" %>
<% end %>

<div>
  <%= link_to "Back to links", links_path %>
</div>
